

form {
  max-width: 100%;
}

#text-start {
  margin-bottom: 1em;
}

#start-btn {
  padding: 2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

#text-result,
#text-start {
  border: 1px solid #000000;
  padding: 1em;
  width: 100%;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}